@media screen and (min-width: 280px) and (max-width: 430px){
    nav{
        display: none;
    }
    header .logo {
        position: relative;
        left: 0;
        margin-left: 0;
        top: 0;
    }
    .container{
        padding: 0 15px;
    }
    .main_banner{
        padding: 30px 0;
    }
    .main_banner img {
        position: relative;
        top: 10px;
        width: 100%;
        left: 0;
        right: 0;

    }
    .main_banner h1 {
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 32px;
    }
    .main_banner p {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 18px;
    }
    .main_banner a {
        font-size: 10px;
        line-height: 10px;
        padding: 4px 15px;
    }
    .guides {
        padding: 30px 15px 30px 15px;
    }
    .guides_text h3 {
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
    }
    .guides_text h3:first-of-type {
        padding-bottom: 16px;
    }
    .guides_text h3:last-of-type {
        padding-bottom: 30px;
    }
    .guides_text p {
        font-size: 11px;
        line-height: 13px;
    }
    .guides_text p:first-of-type {
        padding-bottom: 28px;
    }
    .guides_text p:last-of-type {
        padding-bottom: 35px;
    }
    .img_cont{
        max-width: 214px;
    }

    .guides_img h4 {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 10px;
    }

    .guides_img{
        padding: 0;
    }

    .guides_img p {
        font-size: 10px;
        line-height: 10px;
    }
    .guides_img a {
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 0;
    }
    .owl-nav .owl-prev {
        left: 2px;
        top: 30%;
    }
    .owl-nav .owl-prev:before {
        font-weight: 700;
        font-size: 25px;
    }
    .people .for_img img, .power .for_img img{
        width: 100%;
    }
    .padding {
        padding-top: 56px;
        padding-bottom: 31px;
    }
    .people .d-flex, .culture .d-flex, .power .d-flex{
        flex-direction: column;
    }

    .people .for_img, .power .for_img {
        max-width: 285px;
        margin-right: 0;
        padding-bottom: 20px;
    }

    .people .description{
        max-width: 275px;
    }

    .description h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 21px;
    }
    .description p {
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 30px;
    }
    .description a {
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
    }

    .culture .for_img {
        max-width: 285px;
        order: 1;
        padding-bottom: 20px;
    }
    .culture .description{
        order: 2;
        max-width: 275px;
        margin-right: 0;
    }
    .culture .for_img img{
        width: 100%;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .power .description{
        max-width: 275px;
    }
    .features{
        padding-top: 90px;
        padding-bottom: 190px;
    }
    .features_cont h3 {
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 49px;
    }
    .general{
        width: 130px;
        padding-bottom: 60px;
    }
    .circle_cont{
        justify-content: center;
        padding-bottom: 32px;
    }
    .circle_cont p {
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
    }
    .circle1 p:before, .circle2 p:before, .circle3 p:before, .circle4 p:before, .circle5 p:before, .circle6 p:before{
        width: 45px;
        height: 45px;
        margin-bottom: 20px;
        margin-left: 43px;
    }
    .features_cont h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        padding: 0 10px;
    }
    .quote_text:last-of-type, .quote_text:nth-child(2){
        margin-top: 0;
        padding-top: 42px;
    }
    .quote .container{
        justify-content: center;
    }

    .quote_text{
        max-width: 220px;
        margin-top: -150px;
    }

    .quote_text h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .quote_text p {
        font-size: 14px;
        line-height: 15px;
        padding-bottom: 24px;
    }

    .quote_text p span {
        font-size: 15px;
        line-height: 16px;
    }
    .quote_text a {
        font-weight: 600;
        font-size: 13px;
        line-height: 14px;
    }
    .form {
        padding-top: 49px;
        padding-bottom: 58px;
    }
    .form_text h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 21px;
    }
    .form_text p {
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        padding-bottom: 26px;
    }
    .name{
        justify-content: center;
        padding-bottom: 0;
    }

    .name input{
        margin-bottom: 18px;
        height: 30px;
    }

    .email input{
        height: 30px;
        width: 200px;
    }

    .name input:first-of-type {
        margin-right: 0;
    }

    .form_text{
        padding: 0 15px;
    }

    .form_cont {
        max-width: 280px;
        padding-bottom: 0;
    }

    .form_cont button {
        width: 80px;
        height: 25px;
        font-size: 10px;
        line-height: 10px;
    }
    .footer_logo {
        padding-bottom: 30px;
    }

    .logo_img, .icon {
        margin-left: 0;
    }

    .about, .contacts {
        width: 130px;
    }

    .footer_cont {
        justify-content: center;

    }
    .about ul {
        padding-left: 5px;
    }
    .contacts ul{
        padding-left: 0;
        text-align: end;
        padding-right: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width:430px) {
    .main_banner p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 18px;
    }
    .owl-nav .owl-prev {
        left: 15px;
    }
    .general{
        width: 150px;
    }

    .circle1 p:before, .circle2 p:before, .circle3 p:before, .circle4 p:before, .circle5 p:before, .circle6 p:before{
        margin-left: 52px;
    }

    .about, .contacts {
        width: 150px;
    }

}

@media screen and (min-width: 360px) and (max-width:430px){
    .main_banner p {
        font-size: 15px;
    }
    .guides_text h3 {
        font-size: 21px;
        line-height: 25px;
    }

    .guides_text p {
        font-size: 14px;
        line-height: 18px;
    }

    .img_cont {
        max-width: 224px;
    }

    .features_cont h2 {
        font-size: 21px;
        line-height: 25px;
    }
}

@media screen and (min-width: 390px) and (max-width: 430px){

    .main_banner {
        padding: 40px 0;
    }
    .main_banner h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 32px;
    }
    .main_banner p {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 23px;
    }
    .main_banner a {
        font-size: 13px;
        line-height: 12px;
        padding: 6px 18px;
    }
    .guides {
        padding: 40px 15px 60px 15px;
    }
    .guides_text h3 {
        font-size: 25px;
        line-height: 28px;
    }
    .guides_text h3:first-of-type {
        padding-bottom: 27px;
    }
    .guides_text p:first-of-type {
        padding-bottom: 38px;
    }
    .guides_text p {
        font-size: 16px;
        line-height: 20px;
    }
    .guides_text p:last-of-type {
        padding-bottom: 50px;
    }
    .img_cont {
        max-width: 260px;
    }
    .guides_img h4 {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        padding-bottom: 17px;
    }
    .guides_img p {
        font-size: 17px;
        line-height: 20px;
    }
    .guides_img a {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        padding-bottom: 8px;
    }
    .features_cont h3 {
        font-size: 26px;
        line-height: 28px;
    }
}
@media screen and (min-width: 393px) and (max-width: 430px){
    .features_cont h2 {
        font-size: 23px;
        line-height: 27px;
    }
}
@media screen and (min-width: 412px) and (max-width: 430px){
    .features_text {
        max-width: 400px;
    }
    .form_text {
        max-width: 380px;

    }
}
@media screen and (min-width: 428px) and (max-width: 430px){
    .guides_text p:first-of-type{
        display: block;
        max-width: 360px;
    }
    .img_cont {
        max-width: 314px;
    }
    .owl-nav .owl-prev:before {
        font-size: 40px;
    }
    .people .for_img, .culture .for_img, .power .for_img {
        max-width: 385px;
    }
    .people .description, .culture .description, .power .description {
        max-width: 340px;
    }
}

@media screen and (min-width: 540px) and (max-width:799px){
    header nav ul {
        flex-direction: column;
    }
    header nav li a {
        font-size: 14px;
        line-height: 20px;
    }
    .container{
        padding: 0 20px;
    }
    .main_banner img {
        position: relative;
        top: 10px;
        width: 100%;
        left: 0;
        right: 0;
    }
    .main_banner {
        padding: 50px 0;
    }
    .guides_text {
        max-width: 500px;
    }
    .guides_text p {
        font-size: 18px;
    }

    .guides_img{
        padding: 0;
    }
    .owl-nav .owl-prev {
        left: 50px;
        top: 30%;
    }
    .owl-nav .owl-prev:before {
        font-weight: 700;
        font-size: 25px;
    }
    .guides {
        padding-bottom: 140px;
    }

    .people .d-flex, .culture .d-flex, .power .d-flex{
        flex-direction: column;
    }
    .people .for_img, .power .for_img {
        margin-right: 0;
        padding-bottom: 30px;
    }
    .culture .for_img {
        order: 1;
        padding-bottom: 30px;
    }
    .culture .description{
        order: 2;
        margin-right: 0;
    }
    .general {
        width: 260px;
        padding-bottom: 91px;
    }
    .circle1 p:before, .circle2 p:before, .circle3 p:before, .circle4 p:before, .circle5 p:before, .circle6 p:before{
        margin-left: 94px;
    }
    .circle_cont{
        justify-content: center;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .quote_text:last-of-type, .quote_text:nth-child(2){
        margin-top: 0;
        padding-top: 42px;
    }
    .quote .container{
        justify-content: center;
    }
    .form .name{
        flex-wrap: nowrap;
    }
    .footer_cont {
        justify-content: center;
    }
    .logo_img, .icon{
        margin-left: 0;
    }
    .footer_logo{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width:799px){
    .main_banner .container{
        padding-left: 60px;
    }
    .guides_text {
        max-width: 1064px;
    }
    .owl-nav .owl-prev {
        left: 15px;
        top: 30%;
    }
    .owl-nav .owl-prev:before {
        font-size: 30px;
    }

    .people .container, .power .container{
        align-items: flex-start;
        padding-left: 100px;
    }
    .culture .container{
        align-items: flex-end;
        padding-right: 100px;
    }
    .general {
        width: 250px;
    }

    .quote_text{
        max-width: 400px;
        margin-top: -250px;
    }
    .footer_cont{
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (min-width: 800px) and (max-width:1000px) {
    header nav ul {
        flex-direction: column;
    }
    header nav li a {
        font-size: 14px;
        line-height: 20px;
    }
    .container{
        padding: 0 20px;
    }
    .main_banner img {
        position: relative;
        top: 10px;
        width: 100%;
        left: 0;
        right: 0;
    }
    .main_banner {
        padding: 50px 0;
    }
    .main_banner .container{
       padding-left: 100px;
    }
    .guides {
        padding-bottom: 140px;
    }
    .guides_text {
        max-width: 1064px;
    }
    .guides_text p {
        font-size: 20px;
    }
    .guides_img{
        padding: 0;
    }
    .owl-nav .owl-prev:before {
        font-size: 45px;
    }
    .owl-nav .owl-prev {
        left: 20px;
    }
    .general {
        width: 270px;
    }
    .circle1 p:before, .circle2 p:before, .circle3 p:before, .circle4 p:before, .circle5 p:before, .circle6 p:before{
        margin-left: 100px;
    }
    .circle_cont{
        justify-content: center;
    }
    .quote_text {
        max-width: 250px;
    }
}

@media screen and (min-width: 1000px) and (max-width:1024px){
    .container{
        padding: 0 20px;
    }
    .guides_img{
        padding: 0;
    }
    .owl-nav .owl-prev:before {
        font-size: 45px;
    }
    .owl-nav .owl-prev {
        left: 20px;
        top: 80%
    }
}










