*{
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    padding: 7px 0;
}

.container {
    margin: auto;
    max-width: 1064px;
}

.d-flex {
    display: flex;
}

.d-blocK{
    display: block;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-centre{
    align-items: center;
}

header ul {
    list-style: none;
}

header nav li a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}

header nav li {
    margin-right: 28px;
}

header li:first-of-type{
    margin-right: 28px;
}

header li:last-of-type{
    margin-left: 7px;
}

header nav li:last-of-type{
    margin-left: 0;
}

header .container{
    position: relative;
}

header .logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}

.main_banner {
    padding: 90px 0;
    background-color: #F0EFEB;
    position: relative;
}

.main_banner h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}

.main_banner p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}

.main_banner a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px;
    text-decoration: none;
}

.main_banner img{
    position: absolute;
    right: 6%;
    top: 0;
}

.guides {
    padding-top: 60px;
    padding-bottom: 240px;
}

.guides_text {
    max-width: 1064px;
    margin: auto;
    text-align: center;
}

.guides_text h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.guides_text p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.guides_text h3:first-of-type {
    padding-bottom: 27px;
}
.guides_text h3:last-of-type {
    padding-bottom: 52px;
}

.guides_text p:first-of-type{
    max-width: 632px;
    padding-bottom: 47px;
    margin: auto;
}
.guides_text p:last-of-type{
    padding-bottom: 88px;
}

.img_cont{
    max-width: 314px;
    text-align: center;
}
.guides_img h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    max-width: 155px;
    margin: auto;
    padding-bottom: 17px;
}

.guides_img p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 10px;
}

.guides_img a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
    padding-bottom: 8px;
}

.pad1{
    padding-bottom: 27px;
}
.pad2{
    padding-bottom: 20px;
}
.pad3{
    padding-bottom: 19px;
}

.padding {
    padding-top: 76px;
    padding-bottom: 51px;
}
.people {
    background: rgba(204, 204, 204, 0.3);
}

.people .for_img {
    max-width: 385px;
    margin-right: 50px;
}

.people .description {
    max-width: 498px;
}

.description h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-bottom: 31px;
}

.description p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-bottom: 40px;
}

.description a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.culture {
    background: rgba(204, 204, 204, 0.6);
}

.culture .description{
    text-align: right;
    margin-right: 50px;
    max-width: 513px;
}

.culture .description p {
    padding-bottom: 31px;
}

.culture .for_img {
    max-width: 385px;
}

.power{
    background: rgba(204, 204, 204, 0.3);
}

.power .description{
    max-width: 530px;
}

.power .for_img{
    max-width: 385px;
    margin-right: 50px;
}

.features{
    padding-top: 190px;
    padding-bottom: 290px;
}

.features_cont{
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.features_cont h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-bottom: 69px;
}

.circle_cont{
    max-width: 1088px;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 52px;
}

.general{
    width: 338px;
    padding-bottom: 111px;
}

.circle_cont p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.circle1 p:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: #21F7EC;
    border-radius: 35px;
    position: relative;
    margin-bottom: 26px;
    margin-left: 134px;
}

.circle2 p:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: #33D3BC;
    border-radius: 35px;
    position: relative;
    margin-bottom: 26px;
    margin-left: 134px;
}

.circle3 p:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: #18A5C6;
    border-radius: 35px;
    position: relative;
    margin-bottom: 26px;
    margin-left: 134px;
}

.circle4 p:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: #D38F62;
    border-radius: 35px;
    position: relative;
    margin-bottom: 26px;
    margin-left: 134px;
}

.circle5 p:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: #F94C43;
    border-radius: 35px;
    position: relative;
    margin-bottom: 26px;
    margin-left: 134px;
}
.circle6 p:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: #D399FF;
    border-radius: 35px;
    position: relative;
    margin-bottom: 26px;
    margin-left: 134px;
}

.features_cont h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.features_text{
    max-width: 705px;
    margin: auto;
}

.quote{
    background: #F0F0F0;
    padding-bottom: 52px;
}

.quote_text{
    max-width: 288px;
    text-align: center;
    margin-top: -188px;
}

.quote_text h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.6px;
    color: #000000;
    padding-bottom: 40px;
    padding-top: 35px;
}

.quote_text p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 44px;
}

.quote_text p span{
    font-size: 20px;
    line-height: 23px;
    display: block;
}

.quote_text a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #000000;
}

.quote_text img{
    display: block;
    width: 100%;
}

.form{
    padding-top: 79px;
    padding-bottom: 88px;
}

.form_text{
    max-width: 496px;
    margin: auto;
    text-align: center;
}

.form_text h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-bottom: 9px;
}

.form_text p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 26px;
}

.form_cont {
    margin: auto;
    max-width: 366px;
    text-align: center;
}

.name{
    padding-bottom: 18px;
    max-width: 366px;
}

.name input{
    width: 153px;
    height: 39px;
    border: 1px solid #000000;
    padding-left: 8px;

}
.name input:first-of-type{
    margin-right: 50px;
}
.email{
    max-width: 366px;
    padding-bottom: 16px;
}
.email input{
    width: 100%;
    height: 39px;
    border: 1px solid #000000;
    padding-left: 8px;
}
.form_cont button {
    width: 115px;
    height: 33px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

footer{
    padding-top: 51px;
    padding-bottom: 45px;
    background: #020202;
}

.footer_cont{
    margin: auto;
    max-width: 1144px;
}

.footer_logo{
    max-width: 487px;
}

.logo_img{
    margin-left: 25px;
}

.icon{
    max-width: 115px;
    margin-left: 29px;
    padding-top: 45px;
}

footer .icon ul{
    justify-content: space-between;
}

.navigation {
    max-width: 430px;
}

.about, .contacts{
    width: 215px;
    text-decoration: none;
}

.about ul, .contacts ul{
    list-style: none;
    padding-left: 25px;
}

.about li, .contacts li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 12px;
}

.contacts li:first-of-type, .about li:first-of-type{
    line-height: 23px;
    padding-bottom: 36px;
}

footer p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}

.owl-carousel .img_cont{
    margin: auto;

}
.owl-nav .owl-prev{
    position: absolute;
    left: -46px;
    top: 35%;
}
.owl-nav .owl-prev:before{
    content: "\f053";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 50px;
    color: black;
}

#opener{
    background: none;
    border: none;
}

.ui-dialog{
    top: 53px!important;
    left: 990px!important;
    border: none;
    background: transparent;

}

.ui-dialog .ui-dialog-content{
    padding: 0;
}
.ui-widget.ui-widget-content{
    border: none;
}

.ui-widget-header{
    border: none;
    background: none;
}

#dialog input {
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    outline: none;
    background:  transparent;
    width: 270px;
    height: 30px;
    padding-left: 10px;
}

.ui-dialog .ui-dialog-titlebar-close{
    right: 30px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    color: #000000;
}
#dialog button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: -3px;
    right: 25px;
    cursor: pointer;
    border: none;
    background: none;
}

#dialog button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 20px;
    color: black;
}
.ui-dialog-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
}
